name: Native Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test-native-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Prepare Android
        uses: ./.github/actions/prepare-android

      - name: Run Unit Tests for Android
        run: yarn test:android

  test-native-ios:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Prepare iOS
        uses: ./.github/actions/prepare-ios

      - name: Install Lib cocoapods
        run: |
          (cd ios;pod install)

      - name: Run Unit Tests for iOS
        run: yarn test:ios
